<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Comic Books</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/list" class="nav-link" style="cursor: pointer;">List <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/create" class="nav-link" style="cursor: pointer;">Create</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/edit" class="nav-link" style="cursor: pointer;">Edit</a>
      </li>
    </ul>
  </div>
</nav>

