<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success" (click)="addNewBtn()">
        Add New
      </button>
    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ID
              <button class="btn badge badge-dark uparr" (click)="sortByID()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByID()">&darr;</button>
            </th>
            <th scope="col">Name
              <button class="btn badge badge-dark uparr" (click)="sortByName()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByName()">&darr;</button>
            </th>
            <th scope="col">Image
            </th>
            <th scope="col">Publication Date
              <button class="btn badge badge-dark uparr" (click)="sortByDate()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByDate()">&darr;</button>
            </th>
            <th scope="col">Genre
              <button class="btn badge badge-dark uparr" (click)="sortByGenre()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByGenre()">&darr;</button>
            </th>
            <th scope="col">Excerpt
              <button class="btn badge badge-dark uparr" (click)="sortByExcerpt()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByExcerpt()">&darr;</button>
            </th>
            <th scope="col">Written By
              <button class="btn badge badge-dark uparr" (click)="sortByWrittenBy()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByWrittenBy()">&darr;</button>
            </th>
            <th scope="col">Publisher
              <button class="btn badge badge-dark uparr" (click)="sortByPublisher()">&uarr;</button>
              <button class="btn badge badge-dark" (click)="reverseByPublisher()">&darr;</button>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of comics | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize; let i = index">
            <td>
              <button
                type="button"
                class="btn btn-info"
                (click)="onSelected(i + (pageSize * (page-1)), item.id)"
              >
                Edit
              </button>
            </td>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>
              <img
                src="{{ item.imagePath }}"
                alt="{{ item.name }}"
                class="img-responsive"
                style="max-height: 100px;"
              />
            </td>
            <td>{{ item.publicationDate | date }}</td>
            <td>{{ item.genre }}</td>
            <td>{{ item.excerpt }}</td>
            <td><span *ngFor="let who of item.writtenBy"><br>{{ who.text }}</span></td>
            <td>{{ item.publisher }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteComic(i + (pageSize * (page-1)), item.id)"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination [collectionSize]="comics.length" [(page)]="page"></ngb-pagination>
  </div>
</div>


